@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.dancing-font {
  font-family: "Dancing Script", cursive;
}

.socials-icon {
  cursor: pointer;
  font-size: 40px !important;
}
.socials-icon:hover {
  transform: translateY(-10px);
  transition: all 200ms;
}

.admin-login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: linear-gradient(to right, #1d4350, #a43931);
}

/* This resolves the carousel's navigation icons from appearing in front of components (Header) where it should not be visible. */
.react-multiple-carousel__arrow {
  z-index: 0 !important;
}
/* ----------- DONE ----------- */
